#form {
    display: block;
    margin-left: 40%;
    margin-top: 8%;
    padding: 20px 30px;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label {
        display: block;
        margin-top: 30px;
        margin-bottom: 5px;
        color: grey;
    }

    input {
        width: 100%;
        padding: 10px 0;
    }

    button {
        margin-top: 30px;
        padding: 10px 0;
        width: 100%;
        background-color: rgb(73, 85, 246);
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: blue;
    }

    .error {
        color: red;
    }
}